[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spivey = {editable = true, ref = "main", git = "https://github.com/alexcreek/spivey.git"}
python-dotenv = "*"
influxdb-client = "==1.*"
apscheduler = "==3.8.*"
tzlocal = "==2.*"

[dev-packages]
pytest = "==6.2.*"
pytest-cov = "==2.12.*"
pylint = "==2.9.*"
ipython = "*"

[requires]
python_version = "3.8"
